* {
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
.landing__padding {
    padding:32px 32px;
    margin
}
img {
    max-width :60vw;
   

}
button {
    cursor: pointer;
}

.header__popup {
    width:100%;
}


.btn__menu {
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    display: none;
    color:#6416FF
}

.row--menu {
max-width:1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;

}

.menu__backdrop {
    position:fixed;
    background-color: white;
    top: 0vh;
    left: 0vw;
    right: 0vw;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all  300ms ease;
    border: 1px solid rgba(0, 0, 0, 0.501);
    color:black;
    height:50vh;
    width:90%;
    overflow:hidden;
    border-radius:.5rem;
    padding: 16px;
    background-clip: padding-box;
    margin-top:64px;
    
}

.menu--open {
    max-height: 100vh;
    overflow-y: scroll;
}
.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding:8px;
    color: black;

}

.menu__link {
    color:black;
    font-size:18px;
    font-weight:600;
    text-decoration: none;
}

.menu__list {
    padding: 8px 0;
}

.menu__links {
display: flex;
flex-direction: column;
align-items: center;
}
.text--purple {
    color:#6416FF;
}
.row {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    
}
/* NAV SECTION START <----- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
   width:50px;

}

.nav__link--wrapper {
display: flex;
text-decoration: none;
align-items: center;
transition: all 300ms ease;
}

.nav__link--wrapper:hover .nav__treact{
color:#6416FF;
transition: color 300ms ease;
}
.nav__treact {
    font-family: Inter, system-ui;
    font-size:30px;
    font-weight:715;
    letter-spacing:.5px;
    padding-left:12px;
    color:#253E63;
    transition: color 300ms ease;

}

.nav__list {
display: flex;
list-style: none;

}

.nav__list--item {
    display: flex;
    font-family: Inter, system-ui;
    font-weight:550;
    font-size:16px;
    color:#3b434d;
    transition:all 300ms ease;
    box-sizing:content-box;
    border-bottom:2px solid transparent;
    margin-right:60px;
    padding-bottom:6px;
    
    
}

.nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list--item:hover {
    border-color:#6416FF;
    color:#6416FF;
    transition: all 300ms ease;
    cursor:pointer
}


.nav__button {
    border-style: hidden;
    border-radius: 50px;
    width: 160px;
    height:50px;
    font-family: Inter, system-ui;
    font-weight:600;
    font-size:20px;
    Background-color:#6416FF;
    color:white;
    
    
}

.nav__button:hover {
    cursor:pointer;
    Background-color:#4511ad;
    transition:all 300ms ease;
}

/* TEMPLATES FOR YOU SECTION <----- */

.template__container {
    width:100%;
    display: flex;
    padding:96px 0;
   
}

.template__left {
    width:55%;
   
}

.template__right--picture {
    width:45%;
    overflow:hidden;
}

.template__header {
    font-weight:650;
    font-size:48px;
    padding-bottom:28px;
    max-width:450px;
}


.template__paragraph {
    font-weight:200;
    font-size:18px;
    color:#3b434d;
    padding-bottom:28px;
    word-spacing: 2px;
    max-width:450px;
    line-height:28px;
}

.temp--rimg {
    height:100%;
    width:100%;
}

.landing__sources {
width:100%;
padding-right:64px;
box-sizing: border-box;
opacity:55%;
padding-top:8px;
transform:scale(.8);
transform-origin:left;
}

.template__img--p {
font-style:bold;
font-weight:600;
color:#989da2;
font-size:16px;
letter-spacing:1px;
padding-top:36px;
margin-bottom:12px;
}

.template__email {
    /* border-radius:50px; */
    width:100%;
    Height:68px;
    border-radius: 75px;
    border:3px solid lightgray;
    box-sizing: border-box;
    font-size:20px;
    font-weight:500;
    font-style:bold;
    opacity:80%;

}
input {
    padding-left:40px;
}


.container__start--btn {
    border-radius:75px;
    height:56px;
    background-color:#6416FF;
    color:white;
    font-weight:600;
    font-size: 16px;
    width:180px;
    border-style: none;
    position: relative;
    left:-144px;
    
}
.sources__container {
    margin-top:36px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.template__input--button {
    display: flex;
    align-items: center;
    
}

/* FEATURE SECTION */

.container__features {
    display: flex;
padding:96px 0;

}

.features__row {
width:100%;
margin: 0 auto;
max-width:1200px;
display: flex;
align-items: center;
flex-direction:column;
padding:0 64px;
}


.features__header {
    font-size:18px;
    letter-spacing:1.5px;
    font-weight:700;
    padding-bottom:24px;
}

.features__h2 {
    font-size:46px;
    color:#253E63;
    padding-bottom:24px;
    font-weight:900;
}

.features__para {
    color:rgb(143, 142, 142);
    font-size: 18px;
    font-weight:300;
    text-align:center;
    max-width:650px;
    padding-bottom:64px;
    margin-right:12px;
}



.feature__img {
    width:24px;
    height:24px;
    border:1px solid lightgray;
    border-radius:50%;
    padding:24px;
    
}

.feature__item--head {
    font-weight:650;
    font-size:24px;    
    color:#253E63;
    padding-bottom:16px;
}

.feature__item--para {
    color:rgb(143, 142, 142);
    font-size: 16px;
    font-weight:400;
    letter-spacing:.75px;
    word-spacing:1.5px;
    line-height:120%;
}

.feature__item {
    display: flex;
    width:calc(100%/3);
    flex-direction: row;
    padding-bottom:64px;
    
}

.feature__item--words {
    display: flex;
    flex-direction:column;
    margin-left :22px;
    max-width:150px;
}

.feature__items {
    display: flex;
    flex-wrap: wrap;
    
}

/* .feature__blob {
position:absolute;
top:1100px;
left:80vw;
opacity:66%;
overflow: hidden;
} */



.quality__work--right {
    box-sizing: border-box;
    width:55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__work--left {
    display: flex;
    flex-direction: column;
    width:45%;
}

.quality__para {
    text-align:left;
    font-weight:500;
    word-spacing:4px;
    padding-bottom:32px;
}

.quality__img {
    width:100%;
    height:auto;
    padding-left:32px;
    border:1px solid rgba(211, 211, 211, 0.641);
    
}

.quality__row {
    display: flex;
    overflow: hidden;
    max-width:1200px;
    margin: 0 auto;
    padding:96px 44px;

}

.row__steps {
    display: flex;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    padding:96px 32px;
}

.steps__right--img {

    width:90%;
    height:auto;
}

.steps__right,
.steps__left {
    width:50%;
}


.steps__left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.steps__h2 {
    max-width:450px;
}

.steps__header {
    padding-bottom:20px;
}

.steps__number {
    font-size: 36px;
    font-weight:700;
    color:#3b434d4a;
}

.steps__head {
font-size:20px;
font-weight:700;
letter-spacing:1.5px;
color:#253E63;
padding-bottom:12px;

}

.steps__para {
    color:#3b434d9e;
    font-size:18x;
    font-weight:450;
    word-spacing:1.25px;
    max-width:400px;
    line-height:24px;
}

.steps__container {
    display: flex;
    margin-top:24px;
}

.steps__container--words {
    padding-left:30px;
}

/* VALUES SECTION <----- */

.row__values {
    padding:96px 44px;
    display: flex;
    box-sizing: border-box;
    flex-direction:row;
}

.values__right{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__left {
width:60%;
}

.values--img {
    width:100%;
    height:auto;
    box-sizing:border-box;
}


.values__h2 {
margin: 18px 0px 32px 0px;
max-width:422px;
}

.values__para {
line-height:32px;
margin-bottom:20px;
max-width:422px;
}

.affordable__icon {
background-color: rgba(144, 238, 144, 0.539);
width:42px;
height:42px;
border-radius:50%;
display: flex;
justify-content: center;
align-items: center;
font-size:24px;
box-sizing: border-box;
color:green;
}

.value__affordable--header {
    font-weight:650;
    font-size:24px;    
    color:#253E63;
    margin-left:12px;
}

.values__twin--header {
    display: flex;
   
    align-items: center;
}

.value__case {
    width:25px;
    height:25px;
    opacity:65%;
}

.professionalism__icon {
    background-color:rgba(244, 58, 58, 0.583);
    width:42px;
    height:42px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
     
}

.values__twin--box {
    display: flex;
    flex-wrap: wrap;
}

.values__para--list {
    max-width:222px;
    margin:0;
}

.values--professionalism {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.value__img {
    width:100%;
    height:100%;
}

/* PRICING SECTION */

.row--pricing { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:96px 24px;
    max-width: 1200px;
    width:100%;
    margin:0 auto;
    box-sizing: border-box;
}

.pricing__h2 {
    max-width:750px;
    font-size:50px;
}

.pricing__para {
    max-width:600px;
}

.pricing__personal {
display: flex;
flex-direction:column;
width:33.33%;
border: 1px solid rgba(211, 211, 211, 0.605);
border-radius:5%;
box-shadow: #3b434d;
overflow: hidden;
max-width:325px;
}

.plan__head {
font-weight: 625;  
font-size:24px;
padding-top:20px;
}
.plan__price {
font-size:48px;
font-weight:700;
padding:20px 0;
}
.plan__month {
font-size:16px;
color:#a0aec0;
font-weight:650;
letter-spacing:1.5px;
}

.pricing__top {
display: flex;
flex-direction: column;
padding-bottom:32px;
width:100%;
align-items: center;
justify-content: center;
border-bottom: 3px solid rgba(211, 211, 211, 0.661);
}

.pricing__plans {
    width:100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;

}

.pricing__ribbon {
width:100%;
height:8px;
background: rgb(30,181,184);
background: linear-gradient(90deg, rgba(30,181,184,1) 0%, rgba(162,253,255,1) 100%);

}

.for--individuals {
    font-size:24px;
}

.plan__list--item {
    font-size:16px;
    font-weight:450;
    letter-spacing:1.25px;
    color: #77797a;
    text-decoration: none;
    list-style: none;
    margin-top:20px;

}

.pricing__middle {
padding:32px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom: 3px solid rgba(211, 211, 211, 0.661);
}

.plan__list {
    text-align: center;
}

.personal__buy--btn {
font-size:18px;
padding:24px 48px;
color:white;
background: rgb(30,181,184);
background: linear-gradient(90deg, rgba(30,181,184,1) 0%, rgba(162,253,255,1) 100%);
border:none;
border-radius:200px;
font-weight:700;
}

.pricing__bottom {
padding:32px;
display: flex;
justify-content: center;
align-items: center;
}

.pricing__business {
    display: flex;
flex-direction:column;
width:calc(100%/3);
border: 1px solid rgba(211, 211, 211, 0.605);
border-radius:5%;
box-shadow: #3b434d;
overflow: hidden;
background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
max-width:325px;
box-sizing: border-box;
}

.pricing__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business__head,
.business__price,
.business__month {
    color:white;
}

.for--small__business {
    color: white;
}

.bus__list--item {
    color: white;
}

.business__buy--btn {
    font-size:18px;
    padding:24px 48px;
    color:#6416FF;
    background: white;
    border:none;
    border-radius:200px;
    font-weight:700;
}

.enterp_rib {
    background: rgb(255,94,94);
background: linear-gradient(90deg, rgba(255,94,94,1) 0%, rgba(247,44,53,1) 100%);
}

.pricing__enterprise {
    display: flex;
flex-direction:column;
width:calc(100%/3);
border: 1px solid rgba(211, 211, 211, 0.605);
border-radius:5%;
box-shadow: #3b434d;
overflow: hidden;
margin-right:32px;
max-width:325px;
box-sizing: border-box;

}

.enterprise__buy--btn {
    font-size:18px;
padding:24px 48px;
color:white;
border:none;
border-radius:200px;
font-weight:700;
    background: rgb(255,94,94);
background: linear-gradient(90deg, rgba(255,94,94,1) 0%, rgba(247,44,53,1) 100%);
}

.bus__ribbon {
    background-color: transparent;
    width:100%;
    height:8px;
}

/* TESTIMONIALS SECTION */

.testimonial__star {
    width: 25px;
    height: 25px;
}

.stars_container {
    box-sizing:border-box;
    margin-bottom: 12px;
  
}

.arrow {
    width:16px;
}

.testimonial__left {
    width:40%;
    box-sizing:border-box;
    display: flex;

}

.testimonial__right {
    width:60%;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
    padding-left:64px;
}

.row__testimonials {
    margin: 0 auto;
    display: flex;
    max-width:1200px;
    padding:96px 32px;

}

.testimonial__left--img {
    width:100%;
    height:100%;
}

.testimonials__header {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-bottom: 24px;
    color:#6416FF;
}


.testimonials__h2 {
    color: #253E63;
    padding-bottom: 24px;
    font-weight: 900;
    font-size:48px;
 }
    
.testimonial__description {
color: rgb(143, 142, 142);
font-size: 18px;
font-weight: 500;
word-spacing: 4px;
max-width:450px;
padding-bottom:28px;
}

.testimonial__review--header {
color: #243e63;
font-size:20px;
width:100%;
font-weight:700;
}

.testimonial__review--para {
color: #4a5568;
font-size: 16px;
width:100%;
font-weight:500;
line-height:25px;
word-spacing:3px;
letter-spacing:1.2px;
margin:16px 0 40px 0;
}

.testimonial__pic--wrapper {
width:80px;
height:80px;
box-sizing:border-box;
margin-right:20px;
}

.girl--pic {
    width:100%;
    border-radius:50%;
}

.testimonial--name {
    color: #243e63;
    font-size:20px;
    font-weight:700;
}

.testimonial--name__descrip {
    color: rgb(143, 142, 142);
font-size: 18px;
font-weight: 500;
}

.hale__full--profile {
    display: flex;
    align-items: center;
}

.testimonial__review--words {
    display: flex;
    flex-direction:column;
    line-height:25px;
}

.testimonial__review--btns {
    display: flex;
    
}

.testimonial__btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__review--userHale {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.arrow {
    color:#6416FF;
    width:20px;
}

.testimonial__btn--left,
.testimonial__btn--right {
padding:16px;
margin: 0 12px;
background-color: #edf2f7;
border-radius:50%;
border:0px solid transparent;

}

.divider__btns {
height:16px;
width:2px;
background-color: #edf2f7;
border:0px solid transparent;
}

/* FAQS */

.faq--row {
    padding:96px 32px;
    max-width:1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-direction:column;
    box-sizing:border-box;
}

.faq__intro {
    width:575px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq__description {
text-align:center;
}

.faq__bars--wrapper {
    width:100%;
    margin-top:32px;
    box-sizing: border-box;
    max-width:1000px;
}

.faq__box--1:hover {
    background-color:#dcdddec9;
    transition:all 300ms ease;
    cursor:not-allowed;
}

.faq__box--text {
    font-size:20px;
    color:#2d3748;
    font-weight:600;
}

.chevron--down {
    width:24px;
    height:24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq__box--1 {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 40px;
    margin-top:20px;
    background-color:#edf2f7;
    border-radius:.5rem;
}

/* GET STARTED SECTION  */

.get__started--row {
    margin: 0 auto;
    max-width:1200px;
    padding:96px 32px;
    display: flex;
    align-items: center;
}

.get__started--box {
    width:100%;
    display: flex;
    background-color:#6416FF;
    color:white;
    max-height:500px;
    min-height:300px;
    border-radius:.5rem;
    align-items: center;
    justify-content: space-between;
    padding:0 32px;

}

.get__started--header {
    font-size: 30px;
    font-weight: 700;
    max-width:500px;
    text-align:center;
}

.get__started--gs {
    background-color:#f56565;
    border:0 solid transparent;
    font-weight: 700;
    font-size:16px;
    padding:20px 40px;
    border-radius:100px;
    color:white;
    margin-right:32px;
    transition:all 300ms ease;
}

.get__started--gs:hover {
    background-color:#e03c3c;
    border:0 solid transparent;
    font-weight: 700;
    font-size:16px;
    padding:20px 40px;
    border-radius:100px;
    color:white;
    margin-right:32px;
    transition:all 300ms ease;
    cursor:not-allowed;
}


.get__started--cu {
    background-color:transparent;
    border:1px solid rgba(255, 255, 255, 0.51);
    font-weight: 700;
    font-size:16px;
    padding:20px 40px;
    border-radius:100px;
    color:white;
    transition:all 300ms ease;
    
}

.get__started--cu:hover {
    background-color:white;
    border: 1px solid transparent;
    font-weight: 700;
    font-size:16px;
    padding:20px 40px;
    border-radius:100px;
    color:#6416FF;
    cursor:not-allowed;
    transition:all 300ms ease;
}

/* FOOTER SECTION  */

footer {
    width:100%;
    background-color: #6416FF;
    color:white;
    padding: 96px 32px;
    margin:0 auto;
    box-sizing:border-box;
    margin-top:96px;
}
.footer__columns {
display: flex;
width:100%;
justify-content: space-between;
flex-wrap: wrap;
padding-bottom:42px;
border-bottom:1px solid rgba(190, 186, 186, 0.289);
}
.footer__column--head {
    font-size:18px;
    font-weight: 700;
    padding-bottom:24px;
}

ul {
    list-style:none;
}

.footer__column--item {
    margin-top:12px;
    border-bottom: 1px solid transparent;
    width:fit-content;
    transition:all 300ms ease;
}

.footer__column--item:hover {
border-bottom: 1px solid white;
margin-top:12px;
transition:all 300ms ease;
cursor:not-allowed;
}

.footer__logo--img {
    width:32px;
    height:32px;
    margin-right:12px;
}

.footer__logo--text {
    font-size:20px;
    font-weight:700;
}

.footer__logo {
    display: flex;
    align-items: center;
    padding:0px 24px;
}

.footer__credits {
    padding-top:42px;
    padding-bottom:24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color:#cbd5e0;
    font-size:16px;
}

.footer__icons {
    display: flex;
    color:black;
}

.fa-brands {
    padding:12px;
    margin-right:16px;
    background-color:white;
    border-radius:50%;
    transition:all 300ms ease;
   
}

.fa-facebook-f {
    padding:12px 16px;
}

.fa-brands:hover {
cursor:not-allowed;
background-color: rgb(203, 200, 200);
transition:all 300ms ease;
}

@media (max-width: 1060px) {
.nav__right {
    display: none;
}    
.btn__menu {
    display: block;
}

.template__container {
display: flex;
flex-direction: column;   
}

.template__left,
.template__right--picture {
    width:90%;

}
.template__left {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.container__start--btn {
    left:0;
}

.template__email {
margin-right:12px;
}

.template__input--button {
    display: flex;
}
.sources__container {
    display: flex;
    align-items: center;
}
.template__right--picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__enterprise {
    margin-top:24px;
}

.feature__item {
    padding-right:12px;
}

.feature__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get__started--btns {
    display: flex;
    flex-direction: column;
}

.get__started--gs {
    margin-right:0;
    margin-bottom:12px;
}


}

@media (max-width: 820px) {
    .pricing__personal,
    .pricing__business,
    .pricing__enterprise {
        width:50%;
        margin-top:32px;
    }
    .pricing__plans {
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
    }
    .quality__row {
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .quality__work--left
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
     .quality__work--right {
        margin-top:32px;
    }
}

@media (max-width: 700px) {
    h2,
    h1 {
        font-size:40px !important;
    }

    p {
        font-size:14px !important;
    }
}

@media (max-width: 500px ) {
    .feature__item {
        width:50%;
    }

    
    ::placeholder {
        font-size:14px;
        text-align:center;
    }

    .template__email {
        padding:0;
    }

    .quality__para {
        display: none;
    }

    .steps__right {
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .quality__work--left,
    .quality__work--right {
        width:100%;
    }
    .values__left,
    .values__right {
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content: center;
    }
    .row__values {
        display: flex;
        flex-direction: column;
    }
    .values__twin--box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .values--affordable,
    .values--professionalism {
        margin-bottom:20px;
    }

    .values__right {
        margin-top: 24px;
    }

    .pricing__personal,
    .pricing__business,
    .pricing__enterprise {
        width:75%;
}
.features__h2 {
    text-align: center;
}

.description {
    width:90px;
}

.testimonial__reviews {
    align-items: center;
}

.testimonial__btns {
    display:none;
}

.faq__intro {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.get__started--header {
    font-size:20px !important;
}
.get__started--btns {
    padding:15px 30px;

}

.get__started--box {
    display: flex;
    flex-direction: column;
    padding-top:24px;
}
.footer__credits {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.footer__copyright {
    padding:24px 0;
    padding-left:
    12px;
}
.footer__column--head {
    font-size:16px;
    margin-top: 24px;
}

.footer__column--item {
    font-size: 12px;
}

.footer__column {
    width:calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__columns {
    justify-content: space-evenly;
}
}