* {
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui;
    box-sizing: inherit;
}
.landing__padding {
    padding:32px 32px;
}
img {
    max-width :60vw;
   

}
.text--purple {
    color:#6416FF;
}
.row {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    
}
/* NAV SECTION START <----- */
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav__img {
   width:50px;

}

.nav__link--wrapper {
display: flex;
text-decoration: none;
align-items: center;
transition: all 300ms ease;
}

.nav__link--wrapper:hover .nav__treact{
color:#6416FF;
transition: color 300ms ease;
}
.nav__treact {
    font-family: Inter, system-ui;
    font-size:30px;
    font-weight:715;
    letter-spacing:.5px;
    padding-left:12px;
    color:#253E63;
    transition: color 300ms ease;

}

.nav__list {
display: flex;
list-style: none;

}

.nav__list--item {
    display: flex;
    font-family: Inter, system-ui;
    font-weight:600;
    font-size:18px;
    color:#3b434d;
    transition:all 300ms ease;
    box-sizing:content-box;
    border-bottom:2px solid transparent;
    margin-right:60px;
    padding-bottom:6px;
    
    
}

.nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list--item:hover {
    border-color:#6416FF;
    color:#6416FF;
    transition: all 300ms ease;
    cursor:pointer
}


.nav__button {
    border-style: hidden;
    border-radius: 50px;
    width: 160px;
    height:50px;
    font-family: Inter, system-ui;
    font-weight:600;
    font-size:20px;
    Background-color:#6416FF;
    color:white;
    
    
}

.nav__button:hover {
    cursor:pointer;
    Background-color:#4511ad;
    transition:all 300ms ease;
}

/* TEMPLATES FOR YOU SECTION <----- */

.template__container {
    width:100%;
    display: flex;
    padding-top:64px;
   
}

.template__left {
    width:50%;
   
}

.template__right--picture {
    width:50%;
    overflow:hidden;
}

.template__header {
    font-weight:650;
    font-size:48px;
    padding-bottom:28px;
    max-width:450px;
}


.template__paragraph {
    font-weight:200;
    font-size:24px;
    color:#3b434d;
    padding-bottom:28px;
    word-spacing: 2px;
}

.temp--rimg {
    height:100%;
    width:100%;
}

.landing__sources {
width:100%;
padding-right:64px;
box-sizing: border-box;
opacity:55%;
padding-top:8px;
}

.template__img--p {
font-style:bold;
font-weight:600;
color:#989da2;
font-size:16px;
letter-spacing:1px;
padding-top:36px;
}

.template__email {
    /* border-radius:50px; */
    width:100%;
    Height:68px;
    border-radius: 75px;
    border:3px solid lightgray;
    box-sizing: border-box;
    font-size:20px;
    font-weight:500;
    font-style:bold;
    opacity:80%;

}
input {
    padding-left:40px;
}


.container__start--btn {
    border-radius:75px;
    height:56px;
    background-color:#6416FF;
    color:white;
    font-weight:600;
    font-size: 20px;
    width:180px;
    border-style: none;
    position: relative;
    left:-144px;
    
}

.template__input--button {
    display: flex;
    align-items: center;
    
}

/* FEATURE SECTION */

.container__features {
    display: flex;
padding-top:200px;
padding-bottom:120px;

}

.features__row {
width:100%;
margin: 0 auto;
max-width:1200px;
display: flex;
align-items: center;
flex-direction:column;
padding:0 64px;
}


.features__header {
    font-size:18px;
    letter-spacing:1.5px;
    font-weight:700;
    padding-bottom:24px;
}

.features__h2 {
    font-size:46px;
    color:#253E63;
    padding-bottom:24px;
    font-weight:900;
}

.features__para {
    color:rgb(143, 142, 142);
    font-size: 18px;
    font-weight:300;
    text-align:center;
    max-width:650px;
    padding-bottom:64px;
}



.feature__img {
    width:24px;
    height:24px;
    border:1px solid lightgray;
    border-radius:50%;
    padding:24px;
    
}

.feature__item--head {
    font-weight:650;
    font-size:24px;    
    color:#253E63;
    padding-bottom:16px;
}

.feature__item--para {
    color:rgb(143, 142, 142);
    font-size: 16px;
    font-weight:400;
    letter-spacing:.75px;
    word-spacing:1.5px;
    line-height:120%;
}

.feature__item {
    display: flex;
    width:33.33%;
    flex-direction: row;
    padding-bottom:64px;
    
}

.feature__item--words {
    display: flex;
    flex-direction:column;
    margin-left :22px;
    max-width:150px;
}

.feature__items {
    display: flex;
    flex-wrap: wrap;
    
}

/* .feature__blob {
position:absolute;
top:1100px;
left:80vw;
opacity:66%;
overflow: hidden;
} */



.quality__work--right {
    box-sizing: border-box;
    width:55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__work--left {
    display: flex;
    flex-direction: column;
    width:45%;
}

.quality__para {
    text-align:left;
    font-weight:500;
    word-spacing:4px;
    padding-bottom:32px;
}

.quality__img {
    width:100%;
    height:auto;
    padding-left:32px;
    border:1px solid rgba(211, 211, 211, 0.641);
    
}

.quality__row {
    display: flex;
    padding:0 44px;
    overflow: hidden;
    max-width:1200px;
    margin: 0 auto;
}